@font-face {
	font-family: 'COWBOY';
	src: url('./../fonts/COWBOY-Regular.woff2') format('woff2'),
		url('./../fonts/COWBOY-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'El Camino Caps';
	src: url('./../fonts/ElCamino-Caps.woff2') format('woff2'),
		url('./../fonts/ElCamino-Caps.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'El Camino Soft Edges Caps';
	src: url('./../fonts/ElCamino-SoftEdgesCaps.woff2') format('woff2'),
		url('./../fonts/ElCamino-SoftEdgesCaps.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Ranch Water';
	src: url('./../fonts/RanchWater-Regular.woff2') format('woff2'),
		url('./../fonts/RanchWater-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

:root {
	--color-black: #000000;
	--color-white: #fff4ee;
	--color-white-08: rgba(255, 255, 255, 0.8);
	--color-dark: #232222;
	--color-yellow: #f58908;
	--color-orange: #ec5d20;
	--color-peach: #ea3a27;
	--color-tomato: #e83e28;
	--color-tomato-light: #cb5a48;
	--color-fire: #c4201c;
	--color-beige: #e7d8bb;
	--color-beige-alt: #ecddc0;
	--color-overlay: #000000e0;

	--font-family-cowboy: 'COWBOY', sans-serif;
	--font-family-el-camino-caps: 'El Camino Caps', sans-serif;
	--font-family-el-camino-soft-edges-caps: 'El Camino Soft Edges Caps',
		sans-serif;
	--font-family-ranch-water: 'Ranch Water', sans-serif;

	--transition-duration: 0.2s;

	--container-width: 1743px;
	--container-padding-x: 19px;

	--header-height: 195px;

	--border-height: 10px;
	--border: var(--border-height) solid var(--color-tomato-light);
}

body {
	font-family: var(--font-family-cowboy);
	font-size: 20px;
	line-height: 1.5;
	color: var(--color-white);
	background-color: var(--color-black);
}

a {
	color: inherit;
}

button {
	display: block;
	padding: 0;
	font: inherit;
	background-color: transparent;
	border: none;
}

body.is-lock {
	overflow-y: hidden;
}

.visually-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	border: 0 !important;
	padding: 0 !important;
	white-space: nowrap !important;
	clip-path: inset(100%) !important;
	clip: rect(0 0 0 0) !important;
	overflow: hidden !important;
}

.container {
	max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
	padding-inline: var(--container-padding-x);
	margin-inline: auto;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.description * > :first-child {
	margin-top: 0;
}

.description * > :last-child {
	margin-bottom: 0;
}

.button {
	--bg: var(--color-yellow);

	position: relative;
	text-decoration: none;
	transition: scale var(--transition-duration);
}

.button span {
	position: relative;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 51px;
	background-color: var(--bg);
	font-family: var(--font-family-el-camino-caps);
	font-size: 20px;
	line-height: 1;
	border-radius: 24px;
}

.button > svg {
	position: absolute;
	top: -15px;
	right: -12px;
}

.button > svg {
	color: var(--bg);
}

.menu__list {
	display: flex;
	align-items: center;
	gap: 40px 72px;
}

.menu__link {
	font-family: var(--font-family-el-camino-caps);
	font-size: 32px;
	line-height: 1;
	text-decoration: none;
	color: var(--color-beige-alt);
	transition: color var(--transition-duration);
}

.burger-button {
	position: relative;
	z-index: 15;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 31.5px;
	height: 31.5px;
}

.burger-button__line {
	width: 100%;
	height: 4.5px;
	background-color: var(--color-white);
	transition: translate var(--transition-duration),
		opacity var(--transition-duration), rotate var(--transition-duration);
}
.burger-button.is-active .burger-button__line:nth-child(1) {
	rotate: 45deg;
	translate: 0 13.5px;
}

.burger-button.is-active .burger-button__line:nth-child(2) {
	rotate: -45deg;
}

.burger-button.is-active .burger-button__line:nth-child(3) {
	opacity: 0;
}

.section {
	border-bottom: var(--border);
}

.section--bg {
	position: relative;
	background-image: var(--bgUrl);
	background-size: cover;
	background-repeat: no-repeat;
}

.section--bg > * {
	position: relative;
}

.section--bg::before {
	content: '';
	position: absolute;
	inset: 0;
	background-color: var(--color-overlay);
}

.logos {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	gap: 42px;
}

.logos__image {
	object-fit: contain;
}

.header {
	height: var(--header-height);
	border-bottom: var(--border);
}

.header__logo {
	position: relative;
	z-index: 15;
}

.header__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 16px;
	padding-block: 30px;
}

.hero__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 12px 176px;
	padding-top: 7px;
}

.hero__body {
	margin-block: 27px 34px;
	width: min(100%, 606px);
}

.hero__banner-image {
	margin-bottom: 58px;
}

.hero__info {
	display: flex;
	flex-direction: column;
	row-gap: 38px;
	max-width: 496px;
	margin-inline: auto;
}

.hero__title {
	font-size: 29.5px;
	line-height: 1;
	color: var(--color-yellow);
}

:is(.hero__title, .hero__title-line-big, .hero__title-line-medium) {
	text-transform: uppercase;
}

:is(.hero__title-line-big, .hero__title-line-medium) {
	display: block;
}

.hero__title-line-big {
	font-size: 84px;
}

.hero__title-line-medium {
	font-size: 51px;
}

.hero__subtitle {
	font-size: 26px;
	line-height: 1.15;
	color: var(--color-tomato);
}

.hero__image {
	align-self: flex-end;
	max-width: 51%;
}

.hero__subtitle-line-big {
	margin-bottom: 5px;
	display: block;
	font-size: 35px;
	line-height: 1;
}

.about-us__inner {
	display: flex;
	flex-direction: column;
	row-gap: 50px;
	padding-block: 74px;
}

.about-us__body {
	max-width: 1513px;
	margin-inline: auto;
	display: flex;
	justify-content: center;
	column-gap: 55px;
}

.about-us__image {
	max-width: 32%;
}

.about-us__description {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 35px;
	width: min(100%, 513px);
	margin-block: 49px;
	color: var(--color-beige-alt);
}

.about-us__description strong {
	font-size: 30px;
	line-height: 1.17;
	color: var(--color-yellow);
}

.about-us__extra-description {
	max-width: 1053px;
	margin-inline: auto;
	font-size: 26px;
	line-height: 1.15;
	text-align: center;
	color: var(--color-yellow);
}

.tickets {
	padding-block: 185px 76px;
}

.tickets__items {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 58px;
	padding-right: 17px;
	margin-bottom: 79px;
}

.card-ticket {
	display: flex;
	flex-direction: column;
	min-height: 569px;
	background-color: var(--color-dark);
	border: 3px solid var(--cardBg);
	border-radius: 50px;
	box-shadow: 20px 17px 0 var(--cardBg);
}

.card-ticket__media {
	position: relative;
	margin-top: -128px;
	width: 244px;
	margin-inline: auto;
}

.card-ticket__media svg {
	width: 100%;
	height: 266px;
	color: var(--cardBg);
}

.card-ticket__image {
	position: absolute;
	z-index: 5;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
}

.tickets__items .tickets__item:nth-child(1) .card-ticket__body {
	margin-top: -28.5px;
}

.card-ticket__body {
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
	margin-top: -37px;
	padding: 0 16px 32px;
}

.card-ticket__info {
	display: flex;
	flex-direction: column;
	row-gap: 19px;
	text-align: center;
}

.card-ticket__title {
	font-family: var(--font-family-el-camino-soft-edges-caps);
	font-size: 36px;
	line-height: 1;
}

.card-ticket__type {
	font-family: var(--font-family-ranch-water);
	font-size: 24px;
	font-weight: 400;
	line-height: 1;
}

.card-ticket__description {
	max-width: 234px;
	margin-inline: auto;
	font-size: 15px;
	line-height: 1.05;
	text-wrap: balance;
	color: var(--color-beige);
}

.card-ticket__extra {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
}

.card-ticket__price {
	font-size: 40px;
	text-align: center;
}

.card-ticket__button {
	--bg: var(--cardBg);

	width: min(100%, 188px);
	margin-inline: auto;
}

.tickets__announcement {
	margin-bottom: 24px;
	font-family: var(--font-family-el-camino-soft-edges-caps);
	font-size: 44px;
	line-height: 1;
	text-align: center;
}

.tickets__announcement span {
	font-family: var(--font-family-cowboy);
	font-size: 40px;
	color: var(--color-yellow);
}

.tickets__description {
	max-width: 590px;
	margin-inline: auto;
	font-size: 24px;
	line-height: 1.05;
	text-align: center;
	color: var(--color-beige);
}

.footer {
	border-bottom: none;
}

.footer__inner {
	display: flex;
	flex-direction: column;
	row-gap: 50px;
	padding-block: 76px 86px;
}

.footer__image {
	margin-inline: auto;
	padding-inline: 13px;
}

.footer__logos {
	max-width: 890px;
	margin-inline: auto;
}

@media (any-hover: hover) {
	.menu__link:hover {
		color: var(--color-yellow);
	}

	.button:hover {
		scale: 1.05;
	}
}

@media (any-hover: none) {
	.menu__link:active {
		color: var(--color-yellow);
	}

	.button:active {
		scale: 1.05;
	}
}

@media (max-width: 1440px) {
	:root {
		--container-width: 1317px;
		--border-height: 7px;
	}

	body {
		font-size: 16px;
	}

	.menu__link {
		font-size: 30px;
	}

	.hero__banner-image {
		margin-bottom: 48px;
	}

	.hero__info {
		row-gap: 27px;
		width: min(100%, 420px);
	}

	.hero__title-line-big {
		font-size: 70px;
	}

	.hero__title-line-medium {
		font-size: 42.5px;
		letter-spacing: 0.05em;
	}

	.hero__title {
		font-size: 24px;
	}

	.hero__subtitle-line-big {
		font-size: 29px;
	}

	.hero__subtitle {
		font-size: 21.5px;
	}

	.hero__image {
		max-width: 50%;
	}

	.logos {
		gap: 22px;
	}

	.about-us__description {
		width: min(100%, 366px);
		margin-block: 19px;
	}

	.about-us__description strong {
		font-size: 22px;
	}

	.about-us__image {
		max-width: 28.3%;
	}

	.about-us__extra-description {
		max-width: 807px;
		font-size: 18px;
	}

	.tickets {
		padding-block: 162px 57px;
	}

	.tickets__items {
		column-gap: 44px;
	}

	.card-ticket {
		min-height: 494px;
		box-shadow: 18px 15px 0 var(--cardBg);
	}

	.card-ticket__media {
		width: 73%;
	}

	.card-ticket__media svg {
		height: 230px;
	}

	.card-ticket__title {
		font-size: 32px;
	}

	.card-ticket__type {
		font-size: 20px;
	}

	.card-ticket__description {
		font-size: 13px;
	}

	.tickets__announcement {
		font-size: 34px;
	}

	.tickets__announcement span {
		font-size: 30px;
	}

	.tickets__description {
		max-width: 402px;
		font-size: 16px;
	}

	.footer__inner {
		padding-block: 66px 74px;
		row-gap: 66px;
	}

	.footer__image {
		max-width: min(890px, 100%);
	}

	.footer__logos {
		max-width: 432px;
	}

	.card-ticket__body {
		margin-top: -35px;
	}
}

@media (max-width: 1240px) {
	.hero__inner {
		column-gap: 20px;
	}

	.tickets__items {
		grid-template-columns: repeat(2, 1fr);
		row-gap: 166px;
		max-width: 740px;
		margin-inline: auto;
	}

	.card-ticket__media {
		margin-top: -111px;
	}
}

@media (min-width: 1025px) {
	.visible-tablet {
		display: none !important;
	}
}

@media (max-width: 1024px) {
	:root {
		--header-height: 85px;
		--border-height: 4px;
	}

	.hide-tablet {
		display: none !important;
	}

	.header__menu {
		position: fixed;
		inset: 0;
		z-index: 10;
		background-color: var(--color-black);
		padding-block: var(--header-height) 35px;
		transition: visibility var(--transition-duration),
			translate var(--transition-duration), opacity var(--transition-duration);
	}

	.header__menu:not(.is-visible) {
		visibility: hidden;
		translate: 100%;
		opacity: 0;
	}

	.header__menu .menu__list {
		flex-direction: column;
		align-items: flex-start;
		margin-top: calc(var(--border-height) * -1);
		padding-top: 35px;
		padding-inline: var(--container-padding-x);
		border-top: var(--border);
	}

	.menu__list {
		column-gap: 40px;
	}

	.menu__link {
		font-size: 25px;
	}

	.header__inner {
		padding-block: 7px;
	}

	.header__logo {
		width: 52px;
	}

	.hero__banner-image {
		margin-bottom: 11px;
	}

	.hero__info {
		row-gap: 12px;
		width: min(100%, 264px);
	}

	.hero__title {
		margin-bottom: 15px;
		font-size: 14.8px;
	}

	.hero__title-line-big {
		font-size: 41px;
	}

	.hero__title-line-medium {
		font-size: 25.5px;
	}

	.hero__subtitle {
		font-size: 17px;
	}

	.hero__subtitle-line-big {
		font-size: 17.5px;
	}

	.logos {
		gap: 20px;
	}

	.about-us__inner {
		row-gap: 32px;
		padding-block: 29px 38px;
	}

	.about-us__body {
		flex-direction: column;
		row-gap: 43px;
		width: 100%;
	}

	.about-us__description {
		row-gap: 30px;
		width: 100%;
		margin-block: 0;
	}

	.about-us__image {
		margin-inline: auto;
		max-width: 284px;
		min-height: 388px;
	}

	.tickets {
		padding-bottom: 44px;
	}

	.footer__inner {
		padding-block: 23px 27px;
		row-gap: 36px;
	}
}

@media (max-width: 568px) {
	.hero__inner {
		flex-direction: column;
	}

	.hero__body {
		max-width: 295px;
		margin-block: 0 12px;
	}

	.hero__image {
		margin-inline: auto;
	}

	.about-us__description {
		text-align: left;
	}

	.tickets__items {
		grid-template-columns: 1fr;
		max-width: 287px;
	}

	.card-ticket__image {
		width: 93%;
		max-height: 134px;
	}

	.card-ticket__body {
		margin-top: -43px;
		padding-inline: 9px;
		padding-bottom: 22px;
	}

	.tickets__announcement {
		font-size: 20px;
	}

	.tickets__announcement span {
		font-size: 18px;
	}

	.tickets__description {
		max-width: 296px;
		font-size: 12px;
	}

	.footer__logos {
		max-width: 233px;
	}

	.footer__logos .logos__image {
		height: 22px;
	}
}
